html {
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;

  background-color: var(--body-bg);
  color: var(--body-color);

  --accent-color: #857970;
  --dark-color: #202124;
  --accent-gradient: linear-gradient(to top left, var(--accent-color), var(--dark-color));
  --body-bg: var(--accent-color);
  --body-color: #e7e9ec;
}

body {
  margin: 0;

  /*font-family: "e-Ukraine", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.5;
  text-align: left;
}

::selection {
  background-color: var(--dark-color);
  color: var(--accent-color);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: inherit;
  border-left: 0;
}

::-webkit-scrollbar-thumb {
  background-color: currentColor;
}

::-webkit-scrollbar-thumb:hover {
  background-color: currentColor;
}

* {
  transition-duration: 0.4s;
  transition-property: box-shadow, text-shadow, background, opacity, transform;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *, *:before, *:after {
    animation: none !important;
    transition: none !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: "e-Ukraine Head", Arial, serif;*/
  font-weight: 200;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, p, li {
  margin: 0 0 1rem 0;
}

h1:last-child, h2:last-child, h3:last-child, p:last-child, li:last-child {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

b, strong, .strong {
  font-weight: bolder;
}

img {
  max-width: 100%;
}

img.i {
  height: 1.3em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/*
	MAIN
*/
section {
  position: relative;
  display: block;
  width: 100%;
  max-width: 480px;
  margin: 0 auto 1rem auto;
  padding: 1rem;
}

section.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

.icon-scroll {
  position: relative;
  width: 2rem;
  height: 3.5rem;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 1.25rem;
}

.icon-scroll.hidden {
  will-change: filter;
  filter: blur(1rem);
  opacity: 0;
  transition: filter 0.5s, opacity 0.5s;
}

.icon-scroll:before {
  position: absolute;
  left: 50%;
  content: '';
  width: 0.325rem;
  height: 0.325rem;
  background: #fff;
  margin-left: calc(-0.325rem / 2);
  top: 0.5rem;
  border-radius: 0.25rem;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
}

section.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  padding: 2rem;
}

section.location {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3rem;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  font-size: calc(2rem + 5vw);
}

a {
  box-shadow: 0 -0.125em var(--accent-color) inset;
  transition: box-shadow 0.25s;
}

a:hover {
  box-shadow: 0 -2em var(--accent-color) inset;
}

.background {
  --background-blur-progress: 0;

  pointer-events: none;
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

  width: 100%;
  height: 100vh;

  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-image: url("/images/background.png");*/
}

.background-photo,
.background-photo-blurred {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: none;
}

.background:before,
.background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  opacity: var(--background-blur-progress, 0);
}

.background-photo {
  background-image: url("/images/background.jpg");
  filter: blur(calc(2vmin * var(--background-blur-progress, 0)));
  will-change: filter;
}

.background-photo-blurred {
  opacity: var(--background-blur-progress, 0);
  background-image: url("/images/background-blurred.jpg");
}

.background:before {
  background-color: rgba(0, 0, 0, 0.3);
}

.background:after {
  background-color: rgba(60, 37, 27, 0.2);
}


@media print {
  body {
    background-color: #ffffff;
    color: #000000;
  }

  .no-print {
    display: none;
  }

  h1 {
    font-size: 5rem;
  }


  a {
    box-shadow: none;
    outline: none;
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
  }
}

